fastapi
uvicorn[standard]
gunicorn
requests
httpx
sqlalchemy
python-dotenv
pydantic
vastai
websockets
openai
google-generativeai
google-cloud-vision
boto3
huggingface-hub
groq
mistralai
cohere
edge-tts
deepl
ibm-watson
asyncssh
